<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  </head>
  <body>
    <h1>Collaborative Text Editor</h1>
    <textarea id="textEditor"></textarea>
    <script>
      var socket = io();
      $("#textEditor").on('input propertychange', function(){
        socket.emit('textEditorUpdate', $('#textEditor').val());
      });
      socket.on('textEditorUpdate', function(data){
        $('#textEditor').val(data);
      });
    </script>
  </body>
</html>
